body{
    background-color: lightgoldenrodyellow;
}

#content{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap:10px;
}

#resizeMe{
    margin: 0 auto;
}

#canvas{
    border: dotted;
    margin: 0 auto; 
    height: 760px;
    width: 760px;
}

.canvasSquare{
    margin: 0;
    padding: 0;
    border: solid;
    border-width: thin;   
}
    

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
